GOOGLE_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
GEMINI_EMBEDDING_MODEL=gemini-embedding-001
DB_URL=
BRIGHTDATA_API_KEY=
BRIGHTDATA_DATASET_ID=gd_lk56epmy2i5g7lzu0k
API_URL=http://localhost:3000
CLIENT_URL=http://localhost:5173
PORT=3000
